name: Mirror to Work Account

on:
  push:
    branches: [ "main" ]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetches all history for mirroring

      - name: Mirror to Work Repo
        run: |
          # Configure Git
          git config --global user.email "your-email@example.com"
          git config --global user.name "Mirror Bot"
          
          # Add the work repo as a remote
          git remote add work https://${{ secrets.WORK_REPO_TOKEN }}@github.com/marylandSHIP/medicare-adventure.git
          
          # Force push all content to the work repo
          git push --force work main
